<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
     
 <!--  <extension
         point="org.eclipse.ui.menus">      
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               commandId="org.scova.plugin.commands.Run"
               label="Run Scova">
         </menu>
      </menuContribution>
   </extension>-->
   
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
         locationURI=
         "popup:org.eclipse.ui.navigator.ProjectExplorer#PopupMenu?after=additions">
         <command
               commandId="org.scova.plugin.commands.Run"
               label="Run Scova"
               mnemonic="M1+P"
               tooltip="Do something with this project">
         </command>
      </menuContribution>
   </extension>
    
    <!-- aqui ja estava-->

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Scova Summary View"
            id="scova-eclipse">
      </category>
      <view
            name="Scova Summary View"
            icon="icons/sample.gif"
            category="scova-eclipse"
            class="org.scova.plugin.views.ScovaSummaryView"
            id="scovaeclipse.views.StateCoverage">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.views">
      <category
            name="Scova Report View"
            id="scova-report">
      </category>
      <view
            name="Scova Report View"
            icon="icons/sample.gif"
            category="scova-report"
            class="org.scova.plugin.views.ScovaReportView"
            id="scovaeclipse.views.ScovaReportView">
      </view>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="scovaeclipse.views.SampleView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            defaultHandler="org.scova.plugin.commands.RunHandler"
            id="org.scova.plugin.commands.Run"
            name="Run Scova">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.scova.plugin.commands.Run"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="F7">
      </key>
   </extension>
   
   <!--<extension point="org.eclipse.debug.core.launchConfigurationTypes">
    <launchConfigurationType
          delegate="org.scova.plugin.launching.ScovaLaunchConfigurationDelegate"
          id="org.scova.plugin.launching.scovaLaunch"
          modes="run, debug"
          name="Scova"
          public="true">        
    </launchConfigurationType>
</extension>-->

 <extension
        point="org.eclipse.ui.preferencePages">
     <page
           class="org.scova.plugin.preferences.ScovaPreferencePage"
           id="org.scova.plugin.preferences.ScovaPreferencePage"
           name="Scova">
     </page>
  </extension>
  <extension
        point="org.eclipse.core.runtime.preferences">
     <initializer
           class="org.scova.plugin.preferences.PreferenceInitializer">
     </initializer>
  </extension>

</plugin>
